@model Dokan.Web.Areas.Management.Models.KeyValueContentModel

@{
    ViewBag.Title = "_Details";
}

<div class="">
    <div class="card-body">
        <h4 class="card-title">Details</h4>
        <p class="card-description">

        </p>
        <form class="forms-sample">

            <div class="form-group">
                @Html.LabelFor(x => x.ContentKey)
                @Html.TextBoxFor(x => x.ContentKey, new { @class = "form-control", @readonly = true })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.ContentValue)
                @Html.TextBoxFor(x => x.ContentValue, new { @class = "form-control", @readonly = true })
                <br />
                <div class="w-100" style="overflow: auto;">
                    @Html.Raw(Model.ContentValue)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Description)
                @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @readonly = true })
            </div>

        </form>
    </div>
</div>
