@model Dokan.Web.Areas.Management.Models.MenuModel

@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Edit</h4>
        <p class="card-description">
            Edit a Menu Item
        </p>
        <form class="forms-sample" method="post" action="~/Management/Menu/update" enctype="application/x-www-form-urlencoded">

            @Html.HiddenFor(x => x.Id)

            <div class="form-group">
                @Html.LabelFor(x => x.Title)
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Title" })
                <label class="m-3">
                    @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Link)
                @Html.TextBoxFor(x => x.Link, new { @class = "form-control", @placeholder = "Title" })
                <label class="m-3">
                    @Html.ValidationMessageFor(x => x.Link, "", new { @class = "text-danger" })
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Priority)
                @Html.TextBoxFor(x => x.Priority, new { type = "number", @class = "form-control" })
                <label class="m-3">
                    @Html.ValidationMessageFor(x => x.Priority, "", new { @class = "text-danger" })
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.ParentId)
                @Html.DropDownListFor(x => x.ParentId, Model.ParentDropdown, null, new { @class = "form-control" })
                <label class="m-3">
                    @Html.ValidationMessageFor(x => x.ParentId, "", new { @class = "text-danger" })
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.IsDisplayed)
                @Html.CheckBoxFor(x => x.IsDisplayed, new { @class = "ml-3" })
                <label class="m-3">
                    @Html.ValidationMessageFor(x => x.IsDisplayed, "", new { @class = "text-danger" })
                </label>
            </div>
            <button type="submit" class="btn btn-gradient-primary mr-2">Save Changes</button>
            <a href="~/Management/Menu/Index" class="btn btn-light">Cancel</a>
        </form>
    </div>
</div>
