<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title - Dokan</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/Assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/Assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/Assets/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="/Assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/Assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/Assets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/Assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/Assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/Assets/css/style.css" type="text/css">
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>

<body>
    <!-- Page Preloder -->
    @*<div id="preloder">
            <div class="loader"></div>
        </div>*@

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="ht-left">
                    <div class="mail-service">
                        <i class=" fa fa-envelope"></i>
                        @Dokan.Web.Helpers.LayoutHelper.Email
                    </div>
                    <div class="phone-service">
                        <i class=" fa fa-phone"></i>
                        @Dokan.Web.Helpers.LayoutHelper.Phone
                    </div>
                </div>
                <div class="ht-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="#" class="login-panel"><i class="fa fa-user"></i>Profile</a>
                    }
                    else
                    {
                        <a href="~/Account/Login?ReturnUrl=%2F" class="login-panel"><i class="fa fa-user"></i>Login</a>
                    }
                    <div class="lan-selector">
                        <select class="language_drop" name="countries" id="countries" style="width:300px;">
                            <option value='yt' data-image="/Assets/img/flag-1.jpg" data-imagecss="flag yt"
                                    data-title="English">
                                English
                            </option>
                        </select>
                    </div>
                    <div class="top-social">
                        @Html.Raw(Dokan.Web.Helpers.LayoutHelper.HeaderSocialLinks)
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                            <a href="/">
                                <img src="~/Assets/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="advanced-search">
                            @*<button type="button" class="category-btn">
                                    All Categories
                                </button>*@

                            <div class="input-group mw-100">
                                <input type="text" placeholder="What do you need?" disabled>
                                <button type="button"><i class="ti-search"></i></button>
                            </div>
                        </div>
                    </div>

                    <div id="cart" class="col-lg-3 text-right col-md-3">

                        <ul class="nav-right">
                            <li class="cart-icon">
                                <a href="#">
                                    <i class="icon_bag_alt"></i>
                                    <span>0</span>
                                </a>
                                <div class="cart-hover">
                                    <div class="select-items">
                                        <table>
                                            <tbody>

                                                <tr>
                                                    <td class="si-pic"><img src="/" alt=""></td>
                                                    <td class="si-text">
                                                        <div class="product-selected">
                                                            <p>$00.00 x 0</p>
                                                            <h6>Product</h6>
                                                        </div>
                                                    </td>
                                                    <td class="si-close">
                                                        <i class="ti-close"></i>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="select-total">
                                        <span>total:</span>
                                        <h5>$00.00</h5>
                                    </div>
                                    <div class="select-button">
                                        <a href="~/Cart" class="primary-btn view-card">VIEW CART</a>
                                        <a href="~/Cart/Checkout" class="primary-btn checkout-btn">CHECK OUT</a>
                                    </div>
                                </div>
                            </li>
                            <li class="cart-price">$00.00</li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
        <div class="nav-item">
            <div class="container d-block d-md-flex justify-content-md-center">

                <div class="nav-depart">
                    <div class="depart-btn">
                        <i class="ti-menu"></i>
                        <span>All Categories</span>
                        <ul class="depart-hover">
                            @foreach (var item in Dokan.Web.Helpers.LayoutHelper.ProductCategoryParentsList)
                            {
                                <li><a href="/Products/Category/@item.Id/@item.Title">@item.Title</a></li>
                            }
                        </ul>
                    </div>
                </div>

                <nav class="nav-menu mobile-menu">
                    <ul>
                        @foreach (var menu in Dokan.Web.Helpers.LayoutHelper.MenuParentsList)
                        {
                            <li class="@(ViewBag.Active == menu.Title ? Html.Raw("active") : Html.Raw(""))">

                                <a href="@menu.Link">@menu.Title</a>

                                @{
                                    var Children = Dokan.Web.Helpers.LayoutHelper.MenuList.Where(x => x.ParentId == menu.Id).OrderBy(x => x.Priority).ToList();

                                    if (Children.Count > 0)
                                    {
                                        <ul class="dropdown">
                                            @foreach (var child in Children)
                                            {
                                                <li><a href="@child.Link">@child.Title</a></li>
                                            }

                                        </ul>
                                    }
                                }
                            </li>
                        }

                    </ul>
                </nav>

                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>
    <!-- Header End -->


    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/bootbox.all.min.js"></script>

    @RenderBody()



    <!-- Partner Logo Section Begin -->
    <div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">

            </div>
        </div>
    </div>
    <!-- Partner Logo Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-left">
                        <div class="footer-logo">
                            <a href="#"><img src="~/Assets/img/footer-logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: @Dokan.Web.Helpers.LayoutHelper.Address</li>
                            <li>Phone: @Dokan.Web.Helpers.LayoutHelper.Phone</li>
                            <li>Email: @Dokan.Web.Helpers.LayoutHelper.Email</li>
                        </ul>
                        <div class="footer-social">
                            @Html.Raw(Dokan.Web.Helpers.LayoutHelper.FooterSocialLinks)
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1">
                    <div class="footer-widget">
                        <h5>
                            @Dokan.Web.Helpers.LayoutHelper.FooterWidgetOneTitle
                        </h5>
                        <ul>
                            @Html.Raw(Dokan.Web.Helpers.LayoutHelper.FooterWidgetOneList)
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <h5>
                            @Dokan.Web.Helpers.LayoutHelper.FooterWidgetTwoTitle
                        </h5>
                        <ul>
                            @Html.Raw(Dokan.Web.Helpers.LayoutHelper.FooterWidgetTwoList)
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="newslatter-item">
                        <h5>Join Our Newsletter Now</h5>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Enter Your Mail" disabled>
                            <button type="button">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-reserved">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text float-none text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | Template by Colorlib - Developed with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://github.com/Anaraki-mh" target="_blank">Anaraki-mh</a> </a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/Assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/jquery-ui.min.js"></script>
    <script src="~/Assets/js/jquery.countdown.min.js"></script>
    <script src="~/Assets/js/jquery.nice-select.min.js"></script>
    <script src="~/Assets/js/jquery.zoom.min.js"></script>
    <script src="~/Assets/js/jquery.dd.min.js"></script>
    <script src="~/Assets/js/jquery.slicknav.js"></script>
    <script src="~/Assets/js/owl.carousel.min.js"></script>
    <script src="~/Assets/js/main.js"></script>

    <script>
        $(document).ready(function () {
            LoadCartPartial();
        });

        function LoadCartPartial() {
            $.ajax({
                type: "GET",
                url: "/Cart/ShoppingCart",
                dataType: "html",
                data: "partial=true",
                success: function (data) {
                    document.getElementById("cart").innerHTML = data;
                }
            });
        }

        function RemoveFromCart(productId) {
            $.ajax({
                type: "GET",
                url: "/Cart/Add",
                dataType: "json",
                data: "productId=" + productId + "&number=0",
                success: function (data) {
                    document.getElementById("cartItem-" + productId).remove();
                }
            });
            toastr.success('Removed from cart');
            document.getElementById("cartItem-" + productId).remove();
            setTimeout(function () {
                LoadCartPartial();
            }, 500);
        }

    </script>

    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>

</html>