
<div class="banner-section spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-banner" onclick="location.href = @ViewBag.MainCategoryOneLink">
                    <img src="@ViewBag.MainCategoryOneImage" alt="@ViewBag.MainCategoryOneTitle">
                    <div class="inner-text">
                        <h4>
                            @ViewBag.MainCategoryOneTitle
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-banner" onclick="location.href = @ViewBag.MainCategoryTwoLink">
                    <img src="@ViewBag.MainCategoryTwoImage" alt="@ViewBag.MainCategoryTwoTitle">
                    <div class="inner-text">
                        <h4>
                            @ViewBag.MainCategoryTwoTitle
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-banner" onclick="location.href = @ViewBag.MainCategoryThreeLink">
                    <img src="@ViewBag.MainCategoryThreeImage" alt="@ViewBag.MainCategoryThreeTitle">
                    <div class="inner-text">
                        <h4>
                            @ViewBag.MainCategoryThreeTitle
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>