@model Dokan.Web.Areas.Management.Models.CouponModel

@{
    ViewBag.Title = "_Details";
}

<div class="">
    <div class="card-body">
        <h4 class="card-title">Details</h4>
        <p class="card-description">

        </p>
        <form class="forms-sample">

            <div class="form-group">
                @Html.LabelFor(x => x.Title)
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @readonly = true })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Code)
                @Html.TextBoxFor(x => x.Code, new { @class = "form-control", @readonly = true })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Discount)
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-gradient-primary text-white">%</span>
                    </div>
                    @Html.TextBoxFor(x => x.Discount, new { @class = "form-control", type = "number", @readonly = true })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.UsageLimit)
                @Html.TextBoxFor(x => x.UsageLimit, new { @class = "form-control", type = "number", @readonly = true })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.UsageCount)
                @Html.TextBoxFor(x => x.UsageCount, new { @class = "form-control", type = "number", @readonly = true })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.ExpiryDateTime)
                <input type="text" value="@Model.ExpiryDateTime" class="form-control" readonly="readonly" />
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.CategoryIds)
                @Html.TextBoxFor(x => x.CategoryTitles, new { @class = "form-control", @readonly = true })
            </div>

        </form>
    </div>
</div>
