@model Dokan.Web.Areas.Management.Models.CouponModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Create</h4>
        <p class="card-description">
            Create a new Coupon
        </p>
        <form class="forms-sample" method="post" action="~/Management/Coupon/Create" enctype="application/x-www-form-urlencoded">

            <div class="form-group">
                @Html.LabelFor(x => x.Title)
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Title" })
                <label class="m-3">
                    @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Code)
                @Html.TextBoxFor(x => x.Code, new { @class = "form-control", @placeholder = "e.g. DISCOUNT2023" })
                <label class="m-3">
                    @Html.ValidationMessageFor(x => x.Code, "", new { @class = "text-danger" })
                    <span class="field-validation-error text-danger">@ViewBag.CodeError</span>
                </label>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Discount)
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-gradient-primary text-white">%</span>
                    </div>
                    @Html.TextBoxFor(x => x.Discount, new { @class = "form-control", type = "number", @placeholder = "e.g. 10" })
                </div>
                <label class="m-3">
                    @Html.ValidationMessageFor(x => x.Discount, "", new { @class = "text-danger" })
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.UsageLimit)
                @Html.TextBoxFor(x => x.UsageLimit, new { @class = "form-control", type = "number", @placeholder = "e.g. 10 (set to -1 for unlimited stock)" })
                <label class="m-3">
                    @Html.ValidationMessageFor(x => x.UsageLimit, "", new { @class = "text-danger" })
                </label>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.ExpiryDateTime)
                @Html.TextBoxFor(x => x.ExpiryDateTime, new { @class = "form-control", type = "date" })
                <label class="m-3">
                    @Html.ValidationMessageFor(x => x.ExpiryDateTime, "", new { @class = "text-danger" })
                </label>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.CategoryIds)
                @Html.ListBoxFor(x => x.CategoryIds, new MultiSelectList(Model.CategoryDropdown, "Value", "Text"), new { @class = "form-control", multiple = "multiple", id = "dropdown" })
                <label class="m-3">
                    @Html.ValidationMessageFor(x => x.CategoryIds, "", new { @class = "text-danger" })
                </label>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.IsActive)
                @Html.CheckBoxFor(x => x.IsActive, new { @class = "ml-3" })
                <label class="m-3">
                    @Html.ValidationMessageFor(x => x.IsActive, "", new { @class = "text-danger" })
                </label>
            </div>

            <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
            <a href="~/Management/Coupon/Index" class="btn btn-light">Cancel</a>
        </form>
    </div>
</div>


<script type="text/javascript">
    $('#dropdown').chosen();
</script>