@model Dokan.Web.Areas.Management.Models.ProductCategoryModel

@{
    ViewBag.Title = "_Details";
}

<div class="">
    <div class="card-body">
        <h4 class="card-title">Details</h4>
        <p class="card-description">
            
        </p>
        <form class="forms-sample">

            <div class="form-group">
                @Html.LabelFor(x => x.Title)
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @readonly =  true })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Priority)
                @Html.TextBoxFor(x => x.Priority, new { type = "number", @class = "form-control", @readonly = true })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.ParentId)
                @Html.TextBoxFor(x => x.ParentTitle, new { @class = "form-control", @readonly = true })
            </div>

        </form>
    </div>
</div>
