@model Dokan.Web.Areas.Management.Models.TestimonialModel

@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Edit</h4>
        <p class="card-description">
            Edit a Testimonial
        </p>
        <form class="forms-sample" method="post" action="~/Management/Testimonial/update" enctype="application/x-www-form-urlencoded">

            @Html.HiddenFor(x => x.Id)

            <div class="form-group">
                @Html.LabelFor(x => x.FullName)
                @Html.TextBoxFor(x => x.FullName, new { @class = "form-control" })
                <label class="m-3">
                    @Html.ValidationMessageFor(x => x.FullName, "", new { @class = "text-danger", @placeholder = "Full Name" })
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Position)
                @Html.TextBoxFor(x => x.Position, new { @class = "form-control", @placeholder = "Career or position in a comapny" })
                <label class="m-3">
                    @Html.ValidationMessageFor(x => x.Position, "", new { @class = "text-danger" })
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Content)
                @Html.TextAreaFor(x => x.Content, new { @class = "form-control", @placeholder = "Main body of the testimonial" })
                <label class="m-3">
                    @Html.ValidationMessageFor(x => x.Content, "", new { @class = "text-danger" })
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Image)
                @Html.TextBoxFor(x => x.Image, new { @class = "form-control", @placeholder = "Copy the name of an image from Files" })
                <label class="m-3">
                    @Html.ValidationMessageFor(x => x.Image, "", new { @class = "text-danger" })
                </label>
            </div>

            <button type="submit" class="btn btn-gradient-primary mr-2">Save Changes</button>
            <a href="~/Management/Testimonial/Index" class="btn btn-light">Cancel</a>
        </form>
    </div>
</div>
