@model List<Dokan.Web.Areas.Management.Models.MessageModel>

@{
    ViewBag.Title = "_TrashList";
}

<table class="table table-responsive-sm table-hover text-center">
    <thead>
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Subject</th>
            <th>Email</th>
            <th>Create Date (UTC)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Index</td>
                <td>@item.Name</td>
                <td>@item.Subject</td>
                <td>@item.Email</td>
                <td class="">
                    <button class="btn btn-icon btn-gradient-info" title="Details" onclick="Details(@item.Id)"><i class="mdi mdi-eye"></i></button>
                    <button class="btn btn-icon btn-gradient-danger" title="Delete" onclick="ConfirmDelete(@item.Id)"><i class="mdi mdi-delete"></i></button>
                </td>
            </tr>
        }

    </tbody>
</table>

