@model Dokan.Web.Areas.Management.Models.BlogCommentModel

@{
    ViewBag.Title = "Reply";
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Reply</h4>
        <p class="card-description">
            Reply to a Blog Comment
        </p>

        <div id="comment">

        </div>

        <br />
        <hr />
        <br />

        <form class="forms-sample" method="post" action="~/Management/BlogComment/Reply" enctype="application/x-www-form-urlencoded">

            @Html.HiddenFor(x => x.BlogPostId)
            @Html.HiddenFor(x => x.ParentId)
            @Html.HiddenFor(x => x.UserId)

            <div class="form-group">
                @Html.LabelFor(x => x.Title)
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Title" })
                <label class="m-3">
                    @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })
                </label>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Body)
                @Html.TextBoxFor(x => x.Body, new { @class = "form-control", @placeholder = "Title" })
                <label class="m-3">
                    @Html.ValidationMessageFor(x => x.Body, "", new { @class = "text-danger" })
                </label>
            </div>

            <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
            <a href="~/Management/BlogComment/Index" class="btn btn-light">Cancel</a>
        </form>
    </div>
</div>


<script>
    $.ajax({
        type: "GET",
        url: "/Management/BlogComment/Details",
        dataType: "html",
        data: "id=" + @Model.ParentId,
        success: function (data) {
            document.getElementById("comment").innerHTML = data;
        }
    });
</script>