@model List<Dokan.Web.Areas.Management.Models.ProductCommentModel>

<table class="table table-responsive-sm table-hover text-center">
    <thead>
        <tr>
            <th>Index</th>
            <th>Product Title</th>
            <th>Title</th>
            <th>Username</th>
            <th>Rating</th>
            <th>Approved</th>
            <th>Create Date (UTC)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Index</td>
                <td>@item.ProductTitle</td>
                <td>@item.Title</td>
                <td>@item.Username</td>
                <td>@item.Rating</td>
                @if (item.IsApproved)
                {
                    <td><i class="mdi mdi-check"></i></td>
                    <td>@item.CreateDateTime</td>
                    <td>
                        <button class="btn btn-icon btn-gradient-success" title="Approve" onclick="Approve(@item.Id)"><i class="mdi mdi-check"></i></button>
                        <button class="btn btn-icon btn-gradient-info" title="Details" onclick="Details(@item.Id)"><i class="mdi mdi-eye"></i></button>
                        <button class="btn btn-icon btn-gradient-danger" title="Delete" onclick="ConfirmDelete(@item.Id)"><i class="mdi mdi-delete"></i></button>
                    </td>
                }
                else
                {
                    <td><i class="mdi mdi-close"></i></td>
                    <td>@item.CreateDateTime</td>
                    <td>
                        <button class="btn btn-icon btn-gradient-danger" title="Approve" onclick="Disapprove(@item.Id)"><i class="mdi mdi-clock"></i></button>
                        <button class="btn btn-icon btn-gradient-info" title="Details" onclick="Details(@item.Id)"><i class="mdi mdi-eye"></i></button>
                        <button class="btn btn-icon btn-gradient-danger" title="Delete" onclick="ConfirmDelete(@item.Id)"><i class="mdi mdi-delete"></i></button>
                    </td>
                }
            </tr>
        }

    </tbody>
</table>



<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">


        @if (ViewBag.ActivePage != 1)
        {
            <li id="leftArrow" class="page-item">
                <button onclick="RefreshList(@(ViewBag.ActivePage - 1))" class="page-link"><i class="mdi mdi-arrow-left"></i></button>
            </li>

            <li class="page-item"><button onclick="RefreshList(1)" class="page-link">1</button></li>
            <li class="page-item disabled"><button class="page-link">...</button></li>
        }

        <li class="page-item active"><button onclick="" class="page-link">@ViewBag.ActivePage</button></li>

        @if (ViewBag.ActivePage < ViewBag.NumberOfPages)
        {

            <li class="page-item disabled"><button class="page-link">...</button></li>
            <li class="page-item"><button onclick="RefreshList(@ViewBag.NumberOfPages)" class="page-link">@(ViewBag.NumberOfPages)</button></li>

            <li id="rightArrow" class="page-item">
                <button onclick="RefreshList(@(ViewBag.ActivePage + 1))" class="page-link"><i class="mdi mdi-arrow-right"></i></button>
            </li>
        }


    </ul>
</nav>

<input id="activePage" type="text" hidden value="@ViewBag.ActivePage" />
<input id="numberOfPages" type="hidden" value="@ViewBag.NumberOfPages" />